{% extends 'builder/base.html' %}
{% load static %}

{% block content %}
<div class='container'>
    {% for item in items %}
    <div class='row justify-content-center'>
        <div class='col-7'>
            <div class='card card-body mt-2'>
                <div class='row justify-content-center'>
                    <h3>{{ item.description }}</h3>
                </div>
                <div class='row'>
                    <div class='col-5'>
                        <img src='https://via.placeholder.com/256'>
                    </div>
                    <div class='col-6 mt=4'>
                        <h4 class='mt-4'>${{ item.price }}</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Color</span>
                            </div>
                            <select id='{{ item.sku }}-color'>
                                {% for variant in item.variants %}
                                <option>{{ variant }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Quantity</span>
                            </div>
                            <input type='number' id='{{ item.sku }}-quantity'></input>
                        </div>
                        <button class='btn btn-primary' onclick='add_to_cart("{{ item.sku }}")'>Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript">
function add_to_cart(sku) {
    var csrftoken = Cookies.get('csrftoken');
    var quantity = sku + '-quantity';
    var color = sku + '-color';
    
    var data = new FormData();
    data.append('sku', sku);
    data.append('quantity', document.getElementById(quantity).value);
    data.append('color', document.getElementById(color).value)
    data.append('csrfmiddlewaretoken', csrftoken);
    
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
        if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            var obj = JSON.parse(xmlHttp.responseText);
        	console.log(obj['message']);
        	console.log(obj['cart_count']);
        	document.getElementById('cart_num').textContent = obj['cart_count'];
    	}
	}
	xmlHttp.open("post", "/json/add_to_cart"); 
	xmlHttp.send(data);
}
</script>
<script>
		tippy('button', {
			content: "Tree parts added to cart!",
			arrow: true,
			arrowType: 'round',
			duration: [0, 1000],
			trigger: 'click',
		});
</script>
{% endblock script %}