{% extends 'builder/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'builder/css/builder.css' %}" rel="stylesheet">
{% endblock head %}
{% block content %}
<div class='row justify-content-center mt-3'>
	<div class='col-12' id='main'>
	<div id=3pane></div>
		<div class='row justify-content-center mt-3' id='toggleButton'>
			<div class='col'>
				<button class='btn btn-warning' id='ctrlBtn'>Hide Controls</button>
			</div>
		</div>
		<div id='ui'>
			<div class='row'>
				<div id='cube-type-select' class='col text-center'>
					<div class='row'>
						<div class='col'>
							<h3>Add Cubes.</h3>
						</div>
					</div>
					<div class='row'>
						<div class="btn-group btn-group-toggle btn-group-vertical col" data-toggle="buttons">
							<label class="btn btn-secondary active">
								<input type="radio" name="options" id="cube" autocomplete="off" onchange="change_type('cube');" checked> Cube
			  				</label>
							<label class="btn btn-secondary">
								<input type="radio" name="options" id="bed" autocomplete="off" onchange="change_type('bed');"> Cube with Bed
			  				</label>
							<label class="btn btn-secondary">
								<input type="radio" name="options" id="hut" autocomplete="off" onchange="change_type('hut');"> Cube with Hut
			  				</label>
						</div>
					</div>
					<div class='row'>
						<div class='col btn-group-vertical'>
							<a class='btn btn-primary mt-4' id='reset-button' href='{% url "reset" %}'>Reset</a>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='mt-4'>
					<h3>Parts List</h3>
					<ul>
						<li><span id='pipe-li'>Pipes: 0</span></li>
						<li><span id='corner-li'>Corners: 0</span></li>
						<li><span id='4way-li'>4-Way: 0</span></li>
						<li><span id='tway-li'>T-Way: 0</span></li>
						<li><span id='6way-li'>6-Way: 0</span></li>
						<li><span id='topper-li'>Toppers: 0</span></li>
						<li><span id='bed-li'>Beds: 0</span></li>
						<li><span id='hut-li'>Huts: 0</span></li>
						<li><span id='scratcher-li'>Scratchers: 0</span></li>
					</ul>
				</div>
			</div>
			<div class='row'>
				<div class='col button-group-vertical mt-4'>
					<button class='btn btn-primary' id='add_to_cart'>Add to Cart</button>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<style type="text/css">

#3pane{
  position: relative;
}

#toggleButton {
	position: absolute;
	left: 4%;
	top: 10px;
}

#ui {
  position:absolute;
  left: 4%;
  top: 9%;
}
</style>
{% endblock content %}
{% block script %}
	<script src="{% static 'builder/js/three.js' %}"></script>
	<script src="{% static 'builder/js/webgl.js' %}"></script>
	<script src="{% static 'builder/js/OrbitControls.js' %}"></script>
	<script src="{% static 'builder/js/editor.js' %}"></script>
{% endblock script %}
