{% extends 'builder/base.html' %}

{% block content %}
<div class='container'>
    {% if empty == 'no' %}
        <div class='row'>
            <div class='col-12'>
                {% for item, item_definition in cart_contents %}
                <div class='row'>
                    <div class='col-2'><img src='https://via.placeholder.com/128'></div>
                    <div class='col-2'>{{ item_definition.name }}</div>
                    <div class='col-3'>{{ item_definition.description }}</div>
                    <div class='col-1'><input class='quantity' type='number' id='input-{{ item.id }}' value='{{ item.quantity }}'></input></div>
                    <div class='col-2'>${{ item_definition.price }}</div>
                    <div class='col-1'><a href='#' class='update' id='{{ item.id }}'>Update</a><br><a href='{% url "remove_item" item.pk %}'>Remove</a></div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class='row'>
            <div class='col-2 offset-8'>
                Subtotal: ${{ cart_subtotal }}
            </div>
        </div>
        <div class='row'>
            <div class='col-2 offset-8'>
                Tax: ${{ cart_tax }}
            </div>
        </div>
        {% if shipping %}
        <div class='row'>
            <div class='col-2 offset-8'>
                Shipping: $5.00
            </div>
        </div>
        {% endif %}
        <div class='row'>
            <div class='col-2 offset-8'>
                <strong>Total: ${{ cart_total }}</strong>
            </div>
        </div>
        <div class='row'>
            <div class='col-10'>
                <a href='{% url "shipping" %}' class='btn btn-primary btn-block'>Checkout</a>
            </div>
        </div>
    {% else %}
    <div class='row justify-content-center'>
        <div class='col-8'>
            <em>Your cart is empty! Why not <a href="{% url 'builder' %}">construct</a> a cat tree now?</em>
        </div>
    </div>
    {% endif %}
</div>

<style>
    .quantity {
        width: 3em;
    }
</style>
{% endblock content %}

{% block script %}
<script>
    var links = document.getElementsByClassName('update');
    
    for(var i = 0; i < links.length; i++) {
        var li = links[i];
        li.addEventListener('click', function() {
           var data = document.getElementById('input-' + li.id);
           console.log(data);
           var l = '/json/change_cart_quantity/' + li.id + '/' + data.value;
           window.location = l;
       });
    }
</script>
{% endblock script %}