{% extends 'builder/base.html' %}

{% block content %}
<div class='container'>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe(
            'pk_test_ynzHB69AKxmIzchrBS9nL03u',
            {
                betas: ['checkout_beta_4']
            }
        );
        
        function pay() {
        
        }

        stripe.redirectToCheckout({
                sessionId: "{{ sid }}",
            }).then(function (result) {
                // Display result.error.message to your customer
            });
    </script>
    
</div>
{% endblock content %}