{% extends 'builder/base.html' %}
{% load static %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-12 text-center'>
            <h2>What Does Cat Construct Offer With Their Cat Trees?</h2>
        </div>
    </div>
    <div class='row mt-4'>
        <div class='col-4'>
            <h3>Modular Design</h3>
            <ul>
                <li>Designed by YOU!</li>
                <li>Tree can be rearranged (especially with our 6-way option!)</li>
                <li>Toppers, beds, and huts can be moved about.</li>
                <li>Open designed, standard sizes so you can expand on your own.</li>
            </ul>
        </div>
        <div class='col-4'>
            <h3>High Quality</h3>
            <ul>
                <li>Premium fabric</li>
                <li>Buttons, not velcro.</li>
                <li>Premium filament.</li>
            </ul>
        </div>
        <div class='col-4'>
            <h3>Road to Sustainiblity</h3>
            <ul>
                <li>Created on demand, no extra waste.</li>
                <li>Connectors made from plant plastic, not oil.</li>
                <li>Compact, efficient packaging.</li>
                <li>Working towards all bioplastic parts.</li>
            </ul>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 text-center'>
            <img src={% static "builder/img/cat_features_footer.jpg" %}>
            
        </div>
    </div>
</div>
{% endblock content %}