{% extends 'builder/base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'builder/css/index.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Create A Cat Castle</h1>
        <p class="lead font-weight-normal">Turn an empty living space into a castle for your kitty.</p>
        <a class="btn btn-outline-secondary" href="{% url 'builder' %}">Build Now</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Learn How</h2>
            <p class="lead">Watch us build one for you.</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Not Feeling Creative?</h2>
            <p class="lead">Check out some pre-built designs!</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
</div>
{% endblock content %}