{% extends 'builder/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container'>
    <form method="post" novalidate>
        <h3>Alright, where are we sending your tree?</h3>
        {% csrf_token %}
        {{ form.name|as_crispy_field }}
        {{ form.address1|as_crispy_field }}
        {{ form.address2|as_crispy_field }}
        <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.city|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.state|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ form.zipcode|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-primary">Review and Purchase</button>
  </form>
    </form>
</div>
{% endblock content %}
