{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'builder/js/two.js' %}"></script>
    </head>
    <body>
        <div id='draw-shapes'>
            
        </div>
    </body>
    <script>
        // Make an instance of two and place it on the page.
var elem = document.getElementById('draw-shapes');
var width = 512;
var height = 512;
var hwidth = width/2;
var hheight = height/2;
var hexsize = 20;
var params = {width: width, height: height, background:'black'};
var two = new Two(params).appendTo(elem);

// two has convenience methods to create shapes.


function makehex(row, col) {
    var x = 20 * (1.5 * col);
    var y = 20 * Math.sqrt(3) * (row + 0.5 * (col&1));
    
    var hex = two.makePolygon(x + hwidth, y + hheight, hexsize/2, 6);
    hex.fill = 'yellow';
    return hex;
}

var o = makehex(0, 0);
makehex(0,1);
makehex(0,-1);
makehex(-1,0)
makehex(1, 0);
makehex(-1, 1);
makehex(-1, -1);
makehex(1, 2);
makehex(2,0);
makehex(-1, 2);
makehex(-2, 0);
makehex(-1, -2);
makehex(1, -2);

//outer ring
makehex(1, 4);
makehex(-1, 4);
makehex(1, -4);
makehex(-1, -4);
makehex(3, 1);
makehex(3, -1);
makehex(-4, 1);
makehex(-4, -1);
makehex(-3, -3);
makehex(-3, 3);
makehex(2, 3);
makehex(2, -3);
//var w = makehex(1,1);
//o.fill = '#FF8000';


// Don't forget to tell two to render everything
// to the screen
two.update();
    </script>
</html>