#row-main {
  /* necessary to hide collapsed sidebar */
  overflow-x: hidden;
}

#3pane {
  /* for the animation */
  transition: width 0.3s ease;
}

#ui {
  /* for the animation */
  transition: margin 0.3s ease;
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}